@import '../../styles/variables.scss';

.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  max-width: 400px;
}

.rating__stars {
  position: relative;
  width: 140px;
  height: 20px;
  background-color: $color-silver;

  img {
    position: absolute;
    z-index: 2;
  }

  span {
    display: block;
    background-color: $color-primary;
    position: absolute;
    z-index: 1;
    width: 0%;
    height: 100%;
  }
}

.rating__info {
  color: $color-secondary;
}
