@import '../../styles/variables.scss';

.show-card {
  margin-top: 100px;

  display: block;
  min-width: 280px;
  max-width: 280px;

  > img {
    display: block;
    width: 100%;
    max-height: 395px;
    min-height: 395px;
    cursor: pointer;
  }
}

.show-card__rating {
  padding: 10px 0 0;
}
