/* Colors */
$color-base: #292929;
$color-primary: #E3CE57;
$color-secondary: #FFFFFF;
$color-gainsboro: #454545;
$color-lightgray: #DBDBD8;
$color-silver: #777777;
$color-midnight: #211F1F;

/* Screen resolutions */
$small-phone: 320px;
$regular-phone: 375px;
$portrait-tablet: 768px;
$landscape-tablet: 920px;
$small-desktop: 1440px;
$large-desktop: 320px;
