/* Colors */
$color-base: #292929;
$color-primary: #e3ce57;
$color-secondary: #ffffff;
$color-gainsboro: #454545;
$color-lightgray: #dbdbd8;
$color-silver: #777777;
$color-midnight: #211f1f;
$color-steel: #383838;

/* Screen resolutions */
$small-phone: 320px;
$regular-phone: 375px;
$portrait-tablet: 768px;
$landscape-tablet: 920px;
$small-desktop: 1366px;

/* transition duration */
$transition-fast: 0.3s;
