@import '../../styles/variables.scss';

.card-list {
  position: relative;

  ul {
    display: flex;
    max-width: 100%;
    overflow: scroll;
    padding-left: 10px;
    box-sizing: border-box;

    &::-webkit-scrollbar {
      display: none;
    }

    .show-card {
      margin: 0 10px;
    }

    &[data-orientation='vertical'] {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.card-list__title {
  color: $color-secondary;
  display: block;
  margin: 0 0 16px 30px;
  font-size: 18px;
  margin-top: 40px;
}
